<!DOCTYPE html>
<html>
<head>
<title>Arrangement</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css">


  <!-- Support Sources -->
  <script src="/static/vendor/jquery.js"></script>
  <script src="/static/vendor/raphael.js"></script>

  <!-- VexFlow Compiled Source -->
  <script src="/static/vendor/vexflow-min.js"></script>
  <script src="/static/render-music.js"></script>

</head>

<body>
<h1>Music arrangement</h1>

<canvas id="music" width="400" height="400"></canvas>

<%= content %>

<% if ENV['RACK_ENV'] == 'development' %>
  <script type="module" src="http://localhost:5173/src/main.js"></script>
<% else %>
  <script type="module" src="/static/dist/main.js"></script>
<% end %>
</body>
</html>
